

.input {
    background:
      radial-gradient(
        110.35% 80.79% at 6% 103.92%,
        rgba(37, 169, 239, 1) 0%,
        rgba(47, 157, 216, 0) 100%
      ),
      linear-gradient(
        169.3deg,
        rgba(205, 249, 232, 1) 15%,
        rgba(205, 249, 232, 0) 46%
      ),
      radial-gradient(
        123% 73% at 107% 96%,
        rgba(255, 253, 177, 1) 20%,
        rgb(231, 229, 111) 60%,
        rgb(119, 234, 242) 75%,
        rgba(255, 129, 38, 0) 100%
      ),
      linear-gradient(
        0deg,
        rgba(0, 204, 131, 1) 0%,
        rgb(149, 236, 247) 100%
      );
   
  }

.main_heading{
    font-size: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.box{
    width:100%;
    overflow-x: hidden;
    height:100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
}
.input{
    box-shadow: rgba(0, 0, 0, 0.701) 1.95px 1.95px 2.6px;
    width:400px;
    height:400px;
    border-radius: 30px;
    text-align: center;

}

.inputData{
 
  position: relative;
  width:50%;
}

.inputField{
    border-radius: 10px;
    outline: none;
    border:none;
    letter-spacing: 1px;
   
   
}

.info{

    height:350px;
}
.info h2{
    font-size:35px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap:12px;
}
.info h1{
    font-size: 25px;
    margin-top:12px;
    text-transform: uppercase;
}
.info h3{
    font-size:16px;
    margin-top:12px;
    border-top:1px solid rgba(106, 211, 102, 0.4);
    color:rgb(0, 0, 0);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cross{
    position: absolute;
    top: 50%;
    right:-10%;
   
}

.icon{
    font-size: 30px;
}

